body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: rgb(65, 65, 65);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(230, 49, 49);
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: 40px;
}

.navbar {
  display: flex;
  font-size: 30px;
  padding: 25px;
}

.nav-element {
  margin-right: 30px;
}
.nav-els {
  margin-left: auto;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid rgb(247, 27, 27);
}

.to-do {
  margin: 30px;
  font-size: 30px;
}

.to-do input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 10px;
}

.btn {
  margin-left: 20px;
  border: none;
  /* width: 100px; */
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgb(37, 194, 50);
  color: white;
  cursor: pointer;
}

.add:hover {
  background-color: rgb(17, 151, 28);
}

.act {
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.delete {
  background-color: red;
}
.delete:hover {
  background-color: rgb(165, 8, 8);
}

.edit {
  background-color: rgb(0, 110, 255);
}
.edit:hover {
  background-color: rgb(22, 88, 173);
}

.clear {
  background-color: orange;
  padding: 10px;
  margin: 20px 0px 20px 200px;
}

.clear:hover {
  background-color: rgb(197, 131, 8);
}

.actions {
  margin-left: 15px;
  /* text-decoration: ; */
}

.up-down {
  padding: 10px 10px 5px 10px;
  border-radius: 50%;
  font-size: 18px;
  background-color: rgb(71, 105, 216);
}

.done {
  text-decoration: line-through;
}

.animation {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  display: inline-block;
  border: none;
  color: white;
}

.mes-deleted {
  background-color: red;
}
.mes-added {
  background-color: rgb(37, 194, 50);
}

.nothing {
  width: 300px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
